name: Pycodestyle check

on:
  push:

jobs:
  pycodestyle-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install pycodestyle
        run: pip install pycodestyle

      - name: Run pycodestyle
        run: pycodestyle .
